.header__lang-item {
  margin-right: 18px;
}

.header__lang-item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 320px) {
  .header__lang-item {
    margin-right: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .header__lang-item {
    margin-right: 15px;
  }
}
