@font-face {
  font-family: "Inter";
  src: url(inter/inter-regular.woff2) format("woff2"),
    url(inter/inter-regular.woff) format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url(inter/inter-700.woff2) format("woff2"),
    url(inter/inter-700.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(inter/inter-900.woff2) format("woff2"),
    url(inter/inter-900.woff) format("woff");
  font-weight: 900;
}
