.place {
  width: 100%;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 320px) {
  .place {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    margin-bottom: 76px;
    display: grid;
    grid-template-columns: 44.3vw auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title website"
      "photo text";
    row-gap: 48px;
    column-gap: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    margin-bottom: 80px;
    column-gap: 32px;
    grid-template-columns: 43vw auto;
    grid-template-rows: auto 43vw;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    margin-bottom: 80px;
    column-gap: 40px;
    grid-template-columns: 36vw auto;
    grid-template-rows: auto 36vw;
  }
}
