.place__description {
  grid-area: text;
}

@media screen and (min-width: 320px) {
  .place__description {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .place__description {
    margin-top: 0;
  }
}
